@font-face {
  font-family: TTNorms;
  font-style: normal;
  font-weight: normal;
  src: local("TTNorms Medium"), url(./fonts/TT Norms Pro Regular.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: TTNorms;
  font-style: normal;
  font-weight: normal;
  src: local("TTNorms Medium"), url(./fonts/TTNorms-Medium.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: TTNorms;
  font-style: normal;
  font-weight: normal;
  src: local("TTNorms Medium"), url(./fonts/TTNorms-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: TTNorms;
  font-style: normal;
  font-weight: normal;
  src: local("TTNorms Medium"), url(./fonts/TTNorms-ExtraBold.woff) format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto.ttf) format("truetype");
}

body {
  font-family: Roboto !important;
  color: #c0c0c0 !important;
  overflow-x: hidden;
  background-color: #272727 !important;
  position: relative;
  font-weight: 300 !important;
}
a,
a:hover {
  text-decoration: none !important;
}
.slick-next {
  height: 100% !important;
  width: 57px !important;
  padding: 10px !important;
  z-index: 9;
  right: -55px !important;
}
.slick-prev {
  height: 100% !important;
  width: 57px !important;
  padding: 10px !important;
  z-index: 9;
  left: -55px !important;
}
.slider-h .slick-prev {
  left: 0 !important;
}
.slider-h .slick-next {
  right: 0 !important;
}
polyline {
  stroke: #fff;
}
.navbar-expand-lg {
  position: relative;
  z-index: 9;
}
.navbar-toggler {
  padding: 3px 8px !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
}
.MuiNativeSelect-icon {
  fill: #fff !important;
}
.MuiNativeSelect-select option {
  background-color: #363636 !important;
}
.MuiNativeSelect-icon {
  right: 15px !important;
  font-size: 34px !important;
  top: 6px !important;
}
.table td,
.table th {
  color: #fff;
  padding: 18px 0 !important;
}
.table th {
  border-top: 0 !important;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.MuiSwitch-colorSecondary.Mui-checked {
  color: #fff !important;
}
.MuiIconButton-root {
  padding: 0 !important;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.modal-content {
  background: #272727 !important;
  border-radius: 20px !important;
}
.modal-header {
  border-bottom: 0 !important;
}
.close {
  font-size: 2.5rem !important;
  font-weight: 200 !important;
  color: #fff !important;
  text-shadow: 0 0px 0 #fff !important;
  opacity: 1 !important;
}
.modal-title {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 24px !important;
  font-weight: 300 !important;
}
.modal-header .close {
  position: absolute;
  right: 25px;
}
.modal-body {
  padding: 0.5rem 2rem 2rem !important;
}

@media (max-width: 991px) {
  button.navbar-toggler {
    position: absolute;
    right: 0;
    top: -32px;
  }
  div#responsive-navbar-nav {
    background-color: #272727;
    margin-left: -31px;
    margin-right: -31px;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .slick-next {
    width: 40px !important;
    right: 0 !important;
  }
  .slick-prev {
    width: 40px !important;
    left: 0 !important;
  }
  .container,
  .container-sm {
    max-width: 100%;
  }
  .MuiNativeSelect-select.MuiInputBase-input {
    font-size: 16px !important;
  }
  .pr-xs-1 {
    padding-right: 0.35rem !important;
  }
  .pl-xs-1 {
    padding-left: 0.35rem !important;
  }
  .mobile-hide {
    display: none;
  }
  .navbar {
    padding: 0.5rem 10px !important;
  }

  .slick-slider {
    max-height: 320px;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px !important;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.prism-code {
  display: block;
  white-space: pre;
  padding: 0.5rem;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  outline: none;
  text-shadow: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-wrap: normal;
  word-break: normal;
  text-align: left;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

.live-editor {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 35rem;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.live-editor > pre.prism-code {
  overflow: visible;
}

.live-preview {
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.live-preview-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
}

.live-preview > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3rem;
  -ms-flex-align: center;
  align-items: center;
  min-height: 25rem;
}

.live-preview p {
  font-size: 1.1rem;
}

div.alert > pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.App {
  text-align: center;
}

.App-logo {
  background-color: transparent !important;
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  padding-bottom: 10rem !important;
}

.App-title {
  font-size: 1.5em;
  border: 0 !important;
}

.App-intro {
  margin-top: 1rem !important;
  font-size: large;
}

.App-intro > code {
  background-color: white;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 280px;
  margin: auto;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #404040;
  margin-right: 0.5rem;
}

.pagination li a {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination .active {
  background-color: #171717;
}

.gov-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141e27;
  height: 100%;
}
.cancel-tag {
  border-color: #657786 !important;
  color: #657786 !important;
}
.cancel-info::before {
  background: #657786 !important;
}
.cancel-info:after {
  content: "x" !important;
  border-width: 0 !important;
  transform: none !important;
  left: -4px !important;
  top: 2px !important;
  color: #fff;
}

.modal-dialog.modal-lg {
  max-width: 600px !important;
}
